<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XLSX -> TXT</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css"
    integrity="sha256-tf1yN1B2PrtzH5Ih5BPn1k1Y1RktwEDkIpLtPczMpzI=" crossorigin="anonymous" />
  <style>
    /* layout.css Style */
    .upload-drop-zone {
      height: 200px;
      border-width: 2px;
      margin-bottom: 20px;
    }

    /* skin.css Style*/
    .upload-drop-zone {
      color: #ccc;
      border-style: dashed;
      border-color: #ccc;
      line-height: 200px;
      text-align: center
    }

    .upload-drop-zone.drop {
      color: #222;
      border-color: #222;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div class="container" style="margin-top: 10px;">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>XLSX -> TXT</strong> <small>Chuyển đổi xlsx -> txt</small></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Chọn danh sách files trên máy</h4>
          <form method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple accept=".xlsx,.xls">
              </div>
              <button v-if="!state.pending" type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Xử
                lý</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Hoặc kéo thả danh sách tập tin vào đây</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Nơi kéo thả files vào
          </div>

          <template v-if="state.total != 0">
            <!-- Progress Bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar"
                :aria-valuenow="(100*(state.success.length+state.error.length)/state.total).toFixed(0)"
                aria-valuemin="0" aria-valuemax="100"
                :style="{width: (100*(state.success.length+state.error.length)/state.total).toFixed(0)+'%'}">
                <span class="sr-only">{{(100*(state.success.length+state.error.length)/state.total).toFixed(0)}}% hoàn
                  thành</span>
              </div>
            </div>

            <div class="alert alert-info" v-if="!!state.pending">Đang xử lý
              ({{state.success.length+state.error.length}}/{{state.total}}): {{state.pending}}..</div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
              <h3>Kết quả</h3>
              <div class="list-group">
                <a href="javascript:;" v-for="name in state.success"
                  class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Thành
                    công</span>{{name}}</a>

                <a href="javascript:;" v-for="name in state.error" class="list-group-item list-group-item-danger"><span
                    class="badge alert-danger pull-right">Thất bại</span>{{name}}</a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div> <!-- /container -->
  </div>
  <script src="https://oss.sheetjs.com/sheetjs/shim.js"></script>
  <script src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
    integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
  <script>
    const BOM = '\uFEFF'
    const allowExts = ['.xlsx', '.xls']
    const app = new Vue({
      el: '#app',
      data: {
        state: {
          total: 0,
          success: [],
          error: [],
          pending: ''
        }
      },
      mounted() {
        const dropZone = document.getElementById('drop-zone')
        const uploadForm = document.getElementById('js-upload-form')

        uploadForm.addEventListener('submit', e => {
          const uploadFiles = document.getElementById('js-upload-files').files
          e.preventDefault()

          this.startProcess(uploadFiles)
        })

        dropZone.ondrop = e => {
          e.preventDefault()
          this.className = 'upload-drop-zone'

          this.startProcess(e.dataTransfer.files)
        }

        dropZone.ondragover = () => {
          this.className = 'upload-drop-zone drop'
          return false
        }

        dropZone.ondragleave = () => {
          this.className = 'upload-drop-zone'
          return false
        }

      },
      methods: {
        async startProcess(files) {
          if (this.state.pending) return alert('Đang xử lý, vui lòng đợi!')
          const filteredFiles = []
          for (let i = 0; i < files.length; i++) {
            const file = files[i]
            const extIndex = file.name.lastIndexOf('.')
            if (!~extIndex) continue
            const ext = file.name.substr(extIndex).toLowerCase()
            if (!allowExts.includes(ext)) {
              console.log('Ignore', file.name)
              continue
            }
            filteredFiles.push(file)
          }
          files = filteredFiles

          if (files.length < 1) return alert('Vui lòng chọn một hoặc nhiều files')
          document.getElementById('js-upload-files').value = ''
          this.state = {
            total: files.length,
            success: [],
            error: [],
            pending: ''
          }
          const parts = []
          for (let i = 0; i < files.length; i++) {
            const file = files[i]
            try {
              this.state.pending = file.name
              // process
              await this.doProcess(file, parts)
              // process
              this.state.success.push(file.name)
            } catch (e) {
              console.error(file.name, e)
              this.state.error.push(file.name)
            }
          }
          this.state.pending = ''
          if (!parts.length) return alert('Lỗi, không thể gộp')
          // download
          const downloadURL = URL.createObjectURL(new Blob(parts, {
            type: 'text/csv; charset=utf-8'
          }))
          const a = document.createElement('a')
          document.body.appendChild(a)
          a.style = 'display: none'
          a.href = downloadURL
          a.download = 'Da_gop_' + Date.now() + '.csv'
          a.click()
          window.URL.revokeObjectURL(downloadURL)
        },
        doProcess(file, parts) {
          return new Promise((resolve, reject) => {
            const reader = new FileReader()
            reader.onload = e => {
              try {
                const worker = new Worker('./xlsx-txt-worker.js?_=' + Math.random())
                worker.onmessage = e => {
                  switch (e.data.t) {
                    case 'ready': {
                      break
                    }
                    case 'h': {
                      if (!parts._header) {
                        parts._header = true
                        if (parts[0] && parts[0].startsWith(BOM)) {
                          parts[0] = parts[0].replace(BOM, '')
                          parts.unshift(BOM + e.data.d + '\n')
                        } else {
                          parts.unshift(BOM + e.data.d + '\n')
                        }
                      }
                      break
                    }
                    case 'e': {
                      reject(e)
                      break
                    }
                    case 'ok': {
                      if (e.data.d.length) {
                        if (parts.length === 0) parts.push(BOM)
                        parts.push(e.data.d)
                        parts.push('\n')
                      }
                      resolve()
                      break
                    }
                  }
                }
                worker.postMessage(e.target.result)
              } catch (e) {
                reject(e)
              }
            }
            reader.onerror = () => reject(new Error('Read local file error'))
            reader.readAsBinaryString(file)
          })
        }
      }
    })
  </script>
</body>

</html>